
@font-face {
  font-family: "LNQ";
  src: url("/LNQ.woff") format('woff');
}
 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: #0155fd;
  font-family: LNQ;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* interview embed modal */
.modal {
  background: white;
  height: 1px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease 0.5s, height 0.5s ease;
  width: 0;
}
.content {
  color: #0155fd;
  font-size: 2em;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate3d(0, -50%, 0);
  transition: color 0.5s ease;
  width: 100%;
}
label {
  color: white;
  cursor: pointer;
  font-size: 2em;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.5s ease 0.5s;
}
input {
  cursor: pointer;
  height: 0;
  /* opacity: 0; */
  width: 0;
}

input:focus {
  outline: none;
}
input:checked {
  height: 40px;
  opacity: 1;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1;
  -webkit-appearance: none;
  width: 40px;
}
input:checked::after, input:checked:before {
  border-top: 3px solid #0155fd;
  border-radius: 10px;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 100%;
}
input:checked::after {
  transform: rotate(-45deg);
}
input:checked + label {
  color: #fff;
  transition: color 0.5s ease;
}
input:checked ~ .modal {
  height: 100%;
  width: 100%;
  transition: width 0.5s ease, height 0.5s ease 0.5s;
}
input:checked ~ .modal .content {
  color: #fff;
  transition: color 0.5s ease 0.5s;
}

/* start modal style */
.overlay {
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0155fd;
  color: white;
}

/* nav bar styles */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8vh;
  margin-top: 20px
}
.insta {
  filter: invert(100%) sepia(0%) saturate(7451%) hue-rotate(91deg) brightness(110%) contrast(112%);
  margin: 0px 20px
}
.discord:hover {
  filter: brightness(0) saturate(100%) invert(81%) sepia(0%) saturate(13%) hue-rotate(97deg) brightness(102%) contrast(97%);
}
.insta:hover {
  filter: invert(81%) sepia(0%) saturate(13%) hue-rotate(97deg) brightness(102%) contrast(97%);
}
.twitter:hover {
  filter: brightness(0) saturate(100%) invert(81%) sepia(0%) saturate(13%) hue-rotate(97deg) brightness(102%) contrast(97%);
}


/* three stripes page styles */
.threeStripes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  line-height: 0.7;
  font-family: "LNQ";
  color: white;
  margin: 22vh 0;
}
.spin {
  margin-bottom: 5vh;
}

/* email form styles */
.emailInput {
  height: 30px;
  width: 250px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
  border-color: transparent;
  outline: none;
  border-style: none;
  margin-bottom: 10px;
  background-color: #0155fd;
  /* border-bottom: 3px solid white; */
  margin-right: 3px;
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: 0;
}
.emailSubmit {
  border-radius: 50px;
  height: 30px;
  width: 80px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #0155fd;
  border-style: none;
  border: 1px solid white;
}
.emailSubmit:hover{
  background-color:rgb(204, 204, 204);
}
::placeholder{
  color: white;
  font-weight: bold;
}
.submitMsg {
  font-size: 22px;
  color: white;
}

/* footer styles */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.signUpDiv{
  display: flex;
  justify-content: center;
}


/* media queries */
/* landscape */
@media (max-height: 693px) {
  .adidas{
    height: 280px;
  }
}
@media (max-width: 395px) {
  label{
    font-size: 1.55rem;
  }
  iframe {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 655px) and (min-width: 396px){
  iframe {
    width: 380px;
    height: 300px;
  }
}
/* shrink video content after like 800 width */
